# development tools
flake8~=4.0
black~=22.1
pre-commit~=2.20
ipykernel~=6.16
jupyter-client==8.6.0
jupyter-core==5.7.1

# project packages
pandas~=1.4
folium ~= 0.14.0
ortools~=9.7
geopandas~=0.13.2
geodatasets~=2023.3.0
matplotlib~=3.8.0
contextily~=1.4.0
osmnx~=1.7.0
networkx~=3.2 
scikit-learn~=1.3.2
googlemaps ~= 4.10.0
polyline ~= 1.4.0
requests==2.31.0
shapely==2.0.2
pydantic==2.5.3
python-dotenv==1.0.0