# development tools
flake8~=4.0
black~=22.1
pre-commit~=2.20
ipykernel~=6.16
jupyter-client==8.6.0
jupyter-core==5.7.1
python-dotenv==1.0.0
tqdm~=4.66.1

# configuration
pyyaml~=6.0

# data wrangling
requests==2.31.0
googlemaps~= 4.10.0

# data modeling
pydantic==2.5.3

# data transformation
pandas~=1.4
geopandas~=0.13.2
shapely==2.0.2
geodatasets~=2023.3.0
scikit-learn~=1.3.2

# routing
ortools~=9.7
gurobipy~=11.0.1
osmnx~=1.7.0
networkx~=3.2 

# visualization
matplotlib~=3.8.0
contextily~=1.4.0
folium ~= 0.14.0
polyline~= 1.4.0

# testing
pytest~=7.4.4